.about__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    list-style-type: square;
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form div.MuiFormControl-root {
    width: 80%;
}

.AboutMe__item {
    padding-top: 5px;
}
.contacts__list{
    padding: 3rem;
}