@import "../node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: 'Monday_Donuts';
    src: url("./assets/fonts/Monday Donuts.ttf");
}

*,
*::after,
*::before,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.Monday_Donuts {
    font-family: 'Monday_Donuts';
}

html {
    font-size: 16px;
    -webkit-box-shadow: 0px 12px 28px 0px rgba(138, 77, 15, 0.2) inset;
    -moz-box-shadow: 0px 12px 28px 0px rgba(138, 77, 15, 0.2) inset;
    box-shadow: 0px 12px 28px 0px rgba(138, 77, 15, 0.2) inset;
    background: #fffef0;
}

body {
    font-size: 1rem;

}

h1 {
    padding: 10px;
    cursor: pointer;
    color: #6b3c0d;
    text-decoration: underline dotted red;
}

.App {
    display: grid;
    grid-template-areas: "header content";
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10rem 1fr;
    gap: 1rem;
    width: 100vw;
    height: 100vh;

    padding: 5rem;
}

.home__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.main_content {
    grid-area: content;
}

.header {
    grid-area: header;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-top: 5vh;
}

.header__ul {
    list-style-position: inside;
    font-family: 'Monday_Donuts', cursive;
    font-size: 1.25rem;
    background: transparent;
    padding: .5rem 0.5rem;
    margin: .5rem .25rem .25rem;
    color: #41403E;
    outline: none;
    box-shadow: 1em 1.5em 1.5em -1em rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-sizing: border-box;
    border: solid 0.1em #4140344E;
    width: fit-content;
    max-width: 99%;
}

.header__li {
    list-style-position: inside;
    font-family: 'Monday_Donuts', cursive;
    font-size: 20px;
    font-size: 1.25rem;
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: .5rem .25rem .25rem;
    color: #41403E;
    outline: none;
    box-shadow: 1em 1.5em 1.5em -1em rgba(0, 0, 0, 0.5);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-sizing: border-box;
    border: solid 0.1em #4140344E;
    width: fit-content;
    max-width: 99%;
    overflow: hidden;
    cursor: pointer;

    &:nth-child(odd) {
        transform: rotate(2deg);
    }

    &:nth-child(even) {
        transform: rotate(-2deg);
    }
}

.header__link {
    text-decoration: underline dotted transparent;
    width: 0;
    transition: ease-in all 300ms;

    &:hover {
        text-decoration: underline dotted red;
    }
    &:active {
        background-color: #6b3c0d;
        border-radius: 5px;
    }
    &.active {

        text-decoration: underline dotted red;

    }
}

.contacts__item {
    list-style-type: square;
}


@media (min-width: 900px) {
    span.MuiSwitch-root {
        display: none;
    }
}

@media (max-width: 900px) {
    .App {
        display: flex;
        padding: 1rem 0;
    }

    .header {
        position: fixed;
        width: 20vw;

        .header__nav {
            align-items: flex-start;
        }

        &.closed .header__ul {
            display: none;
        }

        &.open {
            z-index: 1;
            width: 100vw;


        }

        &.open~.main_content {
            filter: blur(8px);
            -webkit-filter: blur(8px);
            opacity: 0.3;
        }
    }

    .main_content {
        padding-left: 30vw;
        max-width: 80vw;

        & .home__wrapper {
            justify-content: flex-start;
        }
    }

    h1 {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}