@import '../node_modules/modern-normalize/modern-normalize.css';
*,*::after,*::before,h1,h2,h3,h4,h5,h6,h7,html{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
}
.main__wrapper{
  display: grid;
  grid-template-areas:"header"
                    "content";
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    width: 100%;
}
.App__conttent{
  grid-area: content;
}