.synonyms{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
align-items: center;
margin:1rem 3rem;
}
.synonyms__title{
font-size: 1.6rem;
}
.synonyms__item{
    display:  inline-flex;
    margin:0.5rem 1rem;
}