.meaningWord__title{
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    margin-top: 2rem;
}
.meaningWord__parthOfSpeech{
    padding-left: 1rem;
}