
.notFound{
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}
.notFound__wrapper{
    margin-top: 1rem;
    padding: 3rem;
    max-width: 30rem;
    border: 2px solid gainsboro;
    border-radius: 1rem;
}