.dictionary__wrapper {
    margin-top: 3rem;
}
.dictionary__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.searchPanel {
    border: 2px gray solid;
    border-radius: 1rem;
    width: 32rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.dictionaty__input {
    border: 2px solid burlywood;
}
.dictionaty__submit {
    background-color: cornflowerblue;
}
